* {
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(/Images/bg_insta.webp);
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    
    
}
/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa, 0;
    padding: 10px 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}

.header .logo {
    width: 100px; /* Ajustez la taille en fonction de votre logo */
    height: auto;
    background-color: rgb(63, 63, 63, 0);
}

.header .nav-links a {
    margin: 0 15px;
    color: #d62976;
    text-decoration: none;
    transition: color 0.5s;
}

.header .nav-links a:hover {
    color: azure;
}